body{
    display: flex;
justify-content: center;
}

#maindiv{
    background-image: linear-gradient(to bottom, rgb(2, 2, 148) 5%, rgb(189, 22, 189) 30%, gold 99%);
    width: 90ex;
    height: 80ex;
    border-radius: 20%;
display: flex;
justify-content: center;
align-items: center;

}
#div2{
    width: 65%;
    height: 65%;
    border: white 30px solid;
    border-radius: 20%;

}
#div3{
    width: 37%;
    height: 40%;
    border-radius: 60%;
    border: 30px solid white;
    position: relative;
    top: 25%;
    left: 25%;
}
#div4{
    width: 1%;
    height: 1.5%;
    border-radius: 60%;
    border: 30px solid white;
    position: relative;
   top: -45%;
   left: 75%;
   background-color: white;
}